---
layout: default
---
<!DOCTYPE html>
<html lang="en">
<head>
    </head>
<body>
    <div id="design">
        <div style="height: 120px;"></div>
        <h2>Design</h2>

        {% assign design_projects = site.projects | where: "category", "design" | sort: "date" | reverse %}

        Design Projects ({{ design_projects | size }} total)

        {% if design_projects.size > 0 %}
            {% for project in design_projects %}
                <h3>{{ project.title }}</h3>
                {% endfor %}
        {% else %}
            <p>Momentálne nie sú k dispozícii žiadne projekty s kategóriou "design".</p>
        {% endif %}
        </div>
    </body>
</html>
