<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
    <link rel="icon" href="{{ '/img/logo.png' | relative_url }}">
</head>
<body>
    <div class="circle"></div>
    <div class="small-circle"></div>
    <nav>
        <a href="{{ site.baseurl }}/#landing" style="display: flex; align-items: center;">
            <img src="{{ '/img/logo.png' | relative_url }}" alt="logo" width="50" class="nd logo">
            <h1>Jerguš Golian</h1>
        </a>
        <button class="hamburger-toggle" aria-expanded="false" aria-controls="main-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
        <ul>
            <li class><a href="design">Dizajn</a></li>
            <li class><a href="videomaking">Videotvorba</a></li>
            <li class><a href="coding">Programovanie</a></li>
        </ul>
        <div class="indicator"></div>
    </nav>
    <div class="main">
        {{ content }}
        <div class="foot"></div>
    </div>
    
    <script src="script.js"></script>
</body>
</html>
