---
layout: category
title: Programovanie
---
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/portfolio/style.css">
</head>
<body>
    <div class="landing-div"><img src="/portfolio/img/graphics/coding.png" class="nd landing-img"></div>
    
    <div class="main">
        {% assign real_projects = site.projects | where: "category", "coding" | sort: "date" | reverse %}

        {% if real_projects.size > 0 %}
            {% for project in real_projects %}
                <div class="text-image">
                    <div class="text">
                        <h2 class="nd">{{ project.title }}</h2>
                        {% if project.tags.size > 0 %}
                            <div class="tag-container">
                                {% if project.used %}
                                    {% assign used_list = project.used | join: ',' | split: ',' %}
                                    {% for tool in used_list %}
                                        <span class="tag-pill tag-used">{{ tool | strip }}</span>
                                    {% endfor %}
                                {% endif %}

                                {% if project.tags %}
                                    {% assign tag_list = project.tags | join: ',' | split: ',' %}
                                    {% for tag in tag_list %}
                                        <span class="tag-pill">{{ tag | strip }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}

                        {{ project.content }}
                        <p class=".date"><time class="project-date" datetime="{{ project.date | date: '%Y-%m-%d' }}">
                            {{ project.date | date: "%d. %m. %Y" }}
                        </time></p>
                    </div>
                    <img src="{{ project.image | relative_url }}" alt="{{ project.title }}">
                </div>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>
